__pycache__
.venv
*.swp
*.swo
.vscode
*.pl
*.qlf
wordnet_stv_clean.metta
conceptnet_stv_clean.metta
conceptnet-assertions-5.7.0.csv
conceptnet.metta
wordnet.metta
wordnet/
conceptnet_stv_clean
conceptnet_links_only.*
