__pycache__
.venv
*.swp
*.swo
.vscode
*.pl
*.qlf
experiments/Metta/experiment2/wordnet_stv_clean.metta
experiments/Metta/experiment2/conceptnet_stv_clean.metta
experiments/Metta/experiment2/scripts/conceptnet-assertions-5.7.0.csv
experiments/Metta/experiment2/scripts/assertions.csv
experiments/Metta/experiment2/data/conceptnet.metta
experiments/Metta/experiment2/data/wordnet.metta
wordnet/